body {
    background-color: #121212;
    color: white;
}

button, select {
    background-color: #1e1e1e;
    color: white;
}

.stTextInput, .stTextArea {
    background-color: #333;
    color: white;
}
